name: Push Src To apps-script Branch
on: [push]
jobs:
  push-to-AS-Branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main
        uses: actions/checkout@v4
        with:
          ref: 'main'
          sparse-checkout: 'src'

      - name: Convert .js to .gs
        run: rename 's/.js$/.gs/' *.js

      - name: Push To apps-script Branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: apps-script
          FOLDER: src
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
